body {
  font-family: 'Open Sans', sans-serif;
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}
.App {
  display: flex;
  justify-content: space-around;
  align-items: center;
}